<!DOCTYPE html>
<html>
<head>
    <title>Sample Javalin with HTMX</title>
    <script src="/webjars/htmx.org/2.0.0-alpha1/dist/htmx.js"></script>
    <script>
        htmx.logAll();
    </script>
</head>
<body>
<h1>TODO List</h1>
    #parse("/templates/velocity/todos/form.vm")
    #parse("/templates/velocity/todos/list.vm")
</body>
</html>
