<!DOCTYPE html>
<html>
<head>
    <title>Sample Javalin with HTMX</title>
    <script src="/webjars/htmx.org/2.0.0-alpha1/dist/htmx.js"></script>
</head>
<body>
<h1>Hello, $world</h1>
<button hx-post="/clicked" hx-swap="outerHTML">
    Click Me
</button>
</body>
</html>
